<!-- glavni sadrzaj -->
<div class="row">
	<div class="col-6-lg col-md-6 col-sm-12 col-xs-12">
		<h5 class="text-center">SPECIJALITET KUĆE</h5>
		<h4 class="text-center"><b>GLADNI KOJOT</b></h4>
		<table class="table table-striped table-responsive">
			<tbody>
				<tr>
					<td>LESKOVAČKI ĆEVAPI</td>
					<td>200 gr</td>
				</tr>
				<tr>
					<td>UŠTIPCI</td>
					<td>200 gr</td>
				</tr>
				<tr>
					<td>KOBASICA</td>
					<td>200 gr</td>
				</tr>
				<tr>
					<td>SLANINA</td>
					<td>200 gr</td>
				</tr>
				<tr>
					<td>BELO MESO</td>
					<td>200 gr</td>
				</tr>
				<tr>
					<td>BELA VEŠALICA</td>
					<td>200 gr</td>
				</tr>
				<tr>
					<td>3 SOMUNA, MOČA + 400gr POMFRITA</td>
					<td>1.600 din.</td>
				</tr>
			</tbody>
		</table>

		<h4 class="text-center"><b>POMFRIT</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>MALI POMFRIT</td>
						<td>200 gr</td>
						<td>100 din.</td>
					</tr>
					<tr>
						<td>VELIKI POMFRIT</td>
						<td>300 gr</td>
						<td>150 din.</td>
					</tr>
				</tbody>
			</table>

	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<h4 class="text-center"><b>PRILOZI</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>PAVLAKA</td>
					</tr>
					<tr>
						<td>PAVLAKA SUSAM</td>
					</tr>
					<tr>
						<td>URNEBES</td>
					</tr>
					<tr>
						<td>TARTAR SOS</td>
					</tr>
					<tr>
						<td>BURGER SOS</td>
					</tr>
					<tr>
						<td>LUK</td>
					</tr>
					<tr>
						<td>KUPUS</td>
					</tr>
					<tr>
						<td>KRASTAVAC</td>
					</tr>
					<tr>
						<td>PARADAJZ</td>
					</tr>
					<tr>
						<td>ZELENA SALATA</td>
					</tr>
					<tr>
						<td>SRPSKA SALATA</td>
					</tr>
					<tr>
						<td>LJUTENICA</td>
					</tr>
					<tr>
						<td>MARINADA</td>
					</tr>
					<tr>
						<td>KEČAP</td>
					</tr>
					<tr>
						<td>MAJONEZ</td>
					</tr>
					<tr>
						<td>SENF</td>
					</tr>
					<tr>
						<td>TUCANA LJUTA</td>
					</tr>
				</tbody>
			</table>

			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>PEČENA LJUTA kom</td>
						<td>30 din</td>
					</tr>
					<tr>
						<td>AJVAR</td>
						<td>40 din</td>
					</tr>
					<tr>
						<td>KAJMAK</td>
						<td>30 din</td>
					</tr>
					<tr>
						<td>KAČKAVALJ</td>
						<td>30 din</td>
					</tr>
					<tr>
						<td>PEČENICA</td>
						<td>30 din</td>
					</tr>
					<tr>
						<td>LEPINJA</td>
						<td>30 din</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<h4 class="text-center"><b>SOKOVI</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>KOKA KOLA</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>FANTA</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>ŠVEPS</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>SPRAJT</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>JOY ZOVA</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>JOY MULTIVITAMIN</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>JOY NARANDŽA</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>NESTEA ŠUMSKO VOĆE</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>NESTEA BRESKVA</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>NESTEA LIMUN</td>
						<td>90 din</td>
					</tr>
					<tr>
						<td>VODA ROSA</td>
						<td>60 din</td>
					</tr>
				</tbody>
			</table>

			<h4 class="text-center"><b>PIVO</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>HAJNIKEN</td>
						<td>160 din</td>
					</tr>
					<tr>
						<td>LAŠKO</td>
						<td>140 din</td>
					</tr>
					<tr>
						<td>AMSTEL</td>
						<td>150 din</td>
					</tr>
					<tr>
						<td>ZAJEČARSKO</td>
						<td>120 din</td>
					</tr>
				</tbody>
			</table>
	</div>

</div>
<!-- glavni sadrzaj -->