<!-- glavni sadrzaj -->
<div class="row">
	<h4 class="text-center">O nama</h4>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div class="panel panel-default pull-left">
				<div class="panel-body">
					<img src="img/html-test.png" class="img-rounded img-responsive pull-left" alt="...">
				</div>
			</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div class="panel panel-default pull-left">
				<div class="panel-body">
					<img src="img/html-test.png" class="img-rounded img-responsive pull-left" alt="...">
				</div>
			</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div class="panel panel-default pull-left">
				<div class="panel-body">
					<img src="img/html-test.png" class="img-rounded img-responsive pull-left" alt="...">
				</div>
			</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<div class="panel panel-default pull-left">
				<div class="panel-body">
					<img src="img/html-test.png" class="img-rounded img-responsive pull-left" alt="...">
				</div>
			</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora deleniti ut delectus unde magnam sequi recusandae repellendus esse, porro, dignissimos aliquam nam qui quasi. Temporibus cupiditate, eum est provident quasi!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora deleniti ut delectus unde magnam sequi recusandae repellendus esse, porro, dignissimos aliquam nam qui quasi. Temporibus cupiditate, eum est provident quasi!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora deleniti ut delectus unde magnam sequi recusandae repellendus esse, porro, dignissimos aliquam nam qui quasi. Temporibus cupiditate, eum est provident quasi!</p>
	</div>
</div>
<!-- glavni sadrzaj -->