<!-- glavni sadrzaj -->
<div class="row">
	<div class="col-6-lg col-md-6 col-sm-12 col-xs-12">
		<h4 class="text-center"><b>JELA SA ROŠTILJA NA PORCIJE</b></h4>
		<table class="table table-striped table-responsive">
			<tbody>
				<tr>
					<td>MALA PLJESKAVICA</td>
					<td>150gr</td>
					<td>170 din.</td>
				</tr>
				<tr>
					<td>VELIKA PLJESKAVICA</td>
					<td>220gr</td>
					<td>250 din.</td>
				</tr>
				<tr>
					<td>KOJOT PLJESKAVICA</td>
					<td>250gr</td>
					<td>280 din.</td>
				</tr>
				<tr>
					<td>LESKOVAČKA PLJESKAVICA</td>
					<td>200gr</td>
					<td>230 din.</td>
				</tr>
				<tr>
					<td>PUNJENA PLJESKAVICA</td>
					<td>250gr</td>
					<td>260 din.</td>
				</tr>
				<tr>
					<td>GURMANSKA PLJESKAVICA</td>
					<td>250gr</td>
					<td>260 din.</td>
				</tr>
				<tr>
					<td>PLJESKAVICA NA KAJMAKU</td>
					<td>250gr</td>
					<td>300 din.</td>
				</tr>
				<tr>
					<td>ŠIŠ ĆEVAP</td>
					<td>200gr</td>
					<td>230 din.</td>
				</tr>
				<tr>
					<td>ĆEVAPI</td>
					<td>200gr</td>
					<td>230 din.</td>
				</tr>
				<tr>
					<td>LESKOVAČKI ĆEVAPI</td>
					<td>200gr</td>
					<td>250 din.</td>
				</tr>
				<tr>
					<td>UŠTIPCI</td>
					<td>240gr</td>
					<td>260 din.</td>
				</tr>
				<tr>
					<td>KOJOT ĆEVAP</td>
					<td>250gr</td>
					<td>280 din.</td>
				</tr>
				<tr>
					<td>KOBASICA</td>
					<td>200gr</td>
					<td>230 din.</td>
				</tr>
				<tr>
					<td>BELO MESO</td>
					<td>200gr</td>
					<td>240 din.</td>
				</tr>
				<tr>
					<td>PUNJENO BELO MESO</td>
					<td>250gr</td>
					<td>280 din.</td>
				</tr>
				<tr>
					<td>ROLOVANO BELO</td>
					<td>240gr</td>
					<td>280 din.</td>
				</tr>
				<tr>
					<td>PILEĆI BATAK</td>
					<td>200gr</td>
					<td>230 din.</td>
				</tr>
				<tr>
					<td>PUNJENI BATAK</td>
					<td>250gr</td>
					<td>270 din.</td>
				</tr>
				<tr>
					<td>SVINJSKI VRAT</td>
					<td>200gr</td>
					<td>250 din.</td>
				</tr>
				<tr>
					<td>SLANINA</td>
					<td>200gr</td>
					<td >230 din.</td>
				</tr>
				<tr>
					<td>PILEĆA BEČKA</td>
					<td>200gr</td>
					<td>240 din.</td>
				</tr>
				<tr>
					<td>MUĆKALICA (ZA PONETI)</td>
					<td>300gr</td>
					<td>330 din.</td>
				</tr>
				<tr>
					<td>MUĆKALICA (U LEPINJI)</td>
					<td>150gr</td>
					<td>200 din.</td>
				</tr>
				<tr>
					<td>KAJMAK (U LEPINJI)</td>
					<td></td>
					<td>150 din.</td>
				</tr>
			</tbody>
		</table>

		<h4 class="text-center"><b>POMFRIT</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>MALI POMFRIT</td>
						<td>200gr</td>
						<td>100din.</td>
					</tr>
					<tr>
						<td>VELIKI POMFRIT</td>
						<td>300gr</td>
						<td>150din.</td>
					</tr>
				</tbody>
			</table>

	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<h4 class="text-center"><b>PRILOZI</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>PAVLAKA</td>
					</tr>
					<tr>
						<td>PAVLAKA SUSAM</td>
					</tr>
					<tr>
						<td>URNEBES</td>
					</tr>
					<tr>
						<td>TARTAR SOS</td>
					</tr>
					<tr>
						<td>BURGER SOS</td>
					</tr>
					<tr>
						<td>LUK</td>
					</tr>
					<tr>
						<td>KUPUS</td>
					</tr>
					<tr>
						<td>KRASTAVAC</td>
					</tr>
					<tr>
						<td>PARADAJZ</td>
					</tr>
					<tr>
						<td>ZELENA SALATA</td>
					</tr>
					<tr>
						<td>SRPSKA SALATA</td>
					</tr>
					<tr>
						<td>LJUTENICA</td>
					</tr>
					<tr>
						<td>MARINADA</td>
					</tr>
					<tr>
						<td>KEČAP</td>
					</tr>
					<tr>
						<td>MAJONEZ</td>
					</tr>
					<tr>
						<td>SENF</td>
					</tr>
					<tr>
						<td>TUCANA LJUTA</td>
					</tr>
				</tbody>
			</table>

			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>PEČENA LJUTA kom</td>
						<td>30din</td>
					</tr>
					<tr>
						<td>AJVAR</td>
						<td>40din</td>
					</tr>
					<tr>
						<td>KAJMAK</td>
						<td>30din</td>
					</tr>
					<tr>
						<td>KAČKAVALJ</td>
						<td>30din</td>
					</tr>
					<tr>
						<td>PEČENICA</td>
						<td>30din</td>
					</tr>
					<tr>
						<td>LEPINJA</td>
						<td>30din</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<h4 class="text-center"><b>SOKOVI</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>KOKA KOLA</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>FANTA</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>ŠVEPS</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>SPRAJT</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>JOY ZOVA</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>JOY MULTIVITAMIN</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>JOY NARANDŽA</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>NESTEA ŠUMSKO VOĆE</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>NESTEA BRESKVA</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>NESTEA LIMUN</td>
						<td>90din</td>
					</tr>
					<tr>
						<td>VODA ROSA</td>
						<td>60din</td>
					</tr>
				</tbody>
			</table>

			<h4 class="text-center"><b>PIVO</b></h4>
			<table class="table table-striped table-responsive">
				<tbody>
					<tr>
						<td>HAJNIKEN</td>
						<td>160din</td>
					</tr>
					<tr>
						<td>LAŠKO</td>
						<td>140din</td>
					</tr>
					<tr>
						<td>AMSTEL</td>
						<td>150din</td>
					</tr>
					<tr>
						<td>ZAJEČARSKO</td>
						<td>120din</td>
					</tr>
				</tbody>
			</table>
	</div>

</div>
<!-- glavni sadrzaj -->